<section class="mt-21">
    <app-servizio titolo="Costruzioni Generali"
        descrizione="Costruiamo opere solide, sicure e di valore, seguendo ogni fase con cura tecnica e passione artigianale.
    Dalla progettazione strutturale al collaudo finale, realizziamo edifici residenziali, commerciali e infrastrutturali, utilizzando materiali certificati, tecnologie costruttive innovative e tecniche avanzate di controllo qualità.
    Garantiamo il rispetto rigoroso delle normative vigenti, l'ottimizzazione dei tempi e la massima efficienza operativa.
    Ogni progetto è per noi una sfida da vincere: creiamo strutture che durano nel tempo e migliorano il mondo che ci circonda"
        immagine="/assets/servizi/costruzioni-generali.webp"
        [caratteristichePrincipali]="caratteristiche" 
        [serviziCorrelati]="correlati" />
</section>