<section class="mt-21">
    <app-servizio titolo="Idrodemolizioni"
        descrizione="Tecnologia e precisione al servizio della durabilità strutturale.
        Con l'idrodemolizione, rimuoviamo il calcestruzzo deteriorato tramite getti d'acqua ad altissima pressione, preservando perfettamente le armature esistenti e minimizzando i danni collaterali alle strutture.
        Questa tecnica avanzata ci consente di operare in sicurezza, ridurre i tempi di intervento e garantire la preparazione ottimale delle superfici per successivi ripristini strutturali.
        Scegliere la nostra idrodemolizione significa puntare su interventi mirati, sostenibili e di altissima qualità, capaci di prolungare significativamente la vita utile delle opere infrastrutturali"
        immagine="/assets/servizi/idrodemolizioni.webp"
        [caratteristichePrincipali]="caratteristiche" 
        [serviziCorrelati]="correlati"
        />
</section>