@use "vuetify/settings" with (
  $color-pack: true
);

a {
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #ff9800;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: #ff9800;
}

::-webkit-scrollbar-thumb:hover {
  background: #bd8c10;
}
