<section class="mt-21">
    <app-servizio titolo="Noleggio Ponteggi e Attrezzature"
        descrizione="Offriamo soluzioni di noleggio ponteggi e attrezzature professionali per l’edilizia, garantendo sicurezza, affidabilità e rapidità in ogni fase del cantiere.
        I nostri sistemi modulari certificati si adattano a qualsiasi esigenza costruttiva o di restauro, assicurando il massimo supporto operativo nel rispetto delle normative vigenti.
        Grazie a un parco attrezzature all’avanguardia e a un servizio di consulenza tecnica specializzata, accompagniamo ogni progetto con soluzioni su misura, riducendo tempi e costi operativi.
        Con noi hai a disposizione non solo strumenti, ma partner affidabili per realizzare ogni opera con efficienza e qualità"
        immagine="/assets/servizi/ponteggio.webp"
        [caratteristichePrincipali]="caratteristiche"
        [serviziCorrelati]="correlati"
        />
</section>
