<app-progetto 
    titoloProgetto="Viadotto S.Venere I & II"
    [tipoProgetto]="tipoProgetto"
    descrizioneBreveProgetto="Ripristino e consolidamento strutturale del Viadotto S. Venere I e II"
    linkAltriDettagliProgetto="https://www.radionoff.it/vietri-di-potenza-al-via-i-lavori-di-recupero-edilizio/"
    clienteProgetto="Grandi Lavori S.C.R.L Roma"
    ubicazioneProgetto="R.A. n. 5 Sicignano - Potenza"
    tempoRealizzazioneProgetto="48 mesi"
    [annoProgetto]="anno"
    [costoTotaleProgetto]="costo"
    [descrizioneCompletaProgetto]="descrizione"
    [materialiPrincipaliProgetto]="materiali"
    [architettiProgetto]="architetti"
    [ingegneriProgetto]="ingegneri"
    impresaAppaltatriceProgetto="Faustini Costruzioni S.r.l"
    [certificazioniProgetto]="certificazioni"
    [galleriaProgetto]="galleria"
    [planimetrieProgetto]="planimetrie"
/>