<app-navbar />

<div class="relative">

    @if (isCaricamento) {
    <div class="fixed inset-0 flex flex-col items-center justify-center bg-black/100 bg-opacity-80 transition-opacity duration-300 ease-in-out">
        <!-- Ping -->
        <span class="relative flex size-18">
            <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-[#FF7420] opacity-75"></span>
            <span class="relative inline-flex size-18 rounded-full bg-[#FF7420]"></span>
        </span>
    </div>
    }

    <main class="transition-all duration-300 ease-out" [class.opacity-0]="isCaricamento" [class.translate-y-5]="isCaricamento">
        <router-outlet (activate)="onAttivato()" (deactivate)="onDisattivo()" />
    </main>
    
</div>

<app-footer />