<section class="mt-21">
    <app-servizio titolo="Restauro Conservativo"
        descrizione="Diamo nuova vita agli edifici storici, rispettandone l’anima originale.
        Con tecniche specialistiche, materiali compatibili e approcci mirati, interveniamo per conservare e valorizzare il patrimonio architettonico, mantenendo intatte le peculiarità stilistiche e strutturali.
        Ogni operazione viene eseguita con rigore scientifico e sensibilità estetica, secondo le più aggiornate normative in materia di tutela dei beni culturali.
        Affidarsi a noi significa proteggere la memoria del passato, garantendo al contempo sicurezza, durabilità e rinnovato splendore alle opere che raccontano la nostra storia"
        immagine="/assets/servizi/restauro.webp"
        [caratteristichePrincipali]="caratteristiche" 
        [serviziCorrelati]="correlati"
        />
</section>
