<!-- Hero Migliorato -->
<header class="relative h-screen w-full overflow-hidden">

    <!-- Immagini di sfondo -->
    <div class="absolute inset-0">
        @if(idCorrente !== undefined) {
        @for (bgImmagine of bgImmagini; track bgImmagine.id) {
        <img [ngSrc]="bgImmagine.url" alt="Immagine di sfondo" fill priority
            class="w-full h-full object-cover absolute inset-0 transition-opacity duration-700 ease-in-out"
            [class.opacity-100]="bgImmagine.id === idImmagineAttiva"
            [class.opacity-0]="bgImmagine.id !== idImmagineAttiva" />
        }
        } @else {
        <div class="absolute inset-0 flex items-center justify-center">
            <span class="relative flex size-18">
                <span
                    class="absolute inline-flex h-full w-full animate-ping rounded-full bg-[#FF7420] opacity-75"></span>
                <span class="relative inline-flex size-18 rounded-full bg-[#FF7420]"></span>
            </span>
        </div>
        }
        <div class="absolute inset-0 bg-black/70"></div>
    </div>

    <!-- Contenuto Hero -->
    <div class="relative h-full flex flex-col items-center justify-center text-center px-4 mt-14">
        <h1 class="text-4xl md:text-7xl font-extrabold leading-tight text-white drop-shadow-lg mb-6">
            Qualit&agrave; <br class="hidden md:block" />
            e Avanguardia
        </h1>

        <p class="text-lg md:text-2xl text-gray-300 font-light max-w-3xl mx-auto mb-10">
            Realizziamo progetti innovativi con materiali di qualità e una passione che resiste nel tempo
        </p>

        <div class="flex flex-wrap gap-6 justify-center">
            <button routerLink="/contatti" aria-label="Contatti"
                class="flex items-center px-6 py-4 bg-transparent border-1 border-white text-white rounded-2xl cursor-pointer hover:border-orange-500 hover:bg-orange-500 transition-all duration-300 shadow-lg hover:shadow-2xl transform hover:-translate-y-1 group">
                <span class="font-semibold text-lg">Parla con noi</span>
                <ng-icon name="heroArrowRight" size="22"
                    class="ml-3 transition-transform duration-300 group-hover:translate-x-2" />
            </button>

            <button routerLink="/servizi" aria-label="Servizi"
                class="flex items-center px-6 py-4 border border-white text-white rounded-2xl cursor-pointer hover:bg-white hover:text-[#191A19] transition-all duration-300 shadow-lg hover:shadow-2xl transform hover:-translate-y-1 group">
                <span class="font-semibold text-lg">Scopri i Servizi</span>
                <ng-icon name="heroSwatch" size="22"
                    class="ml-3 transition-transform duration-300 group-hover:translate-x-2" />
            </button>
        </div>
    </div>

</header>


<!-- Storytelling -->
<section class="relative bg-white py-12 px-4 md:py-16">

    <!-- Pattern di sfondo -->
    <div class="absolute inset-0 opacity-5">
        <div class="h-full w-full"
            style="background-image: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cg fill=\'%23000000\' fill-opacity=\'0.3\' fill-rule=\'evenodd\'%3E%3Ccircle cx=\'3\' cy=\'3\' r=\'1\'/%3E%3Ccircle cx=\'13\' cy=\'13\' r=\'1\'/%3E%3C/g%3E%3C/svg%3E')">
        </div>
    </div>

    <div class="container mx-auto max-w-6xl">

        <div class="grid md:grid-cols-2 grid-cols-1 gap-8 md:gap-12 items-center">
            <!-- Colonna immagine con effetto ombra e bordo -->
            <div class="w-full group order-2 md:order-1">
                <div class="relative overflow-hidden rounded-lg shadow-xl h-[400px] md:h-[550px] group">
                    <img [ngSrc]="imagePath" [alt]="imageAlt" fill priority
                        class="w-full h-full object-cover rounded-lg transition-transform duration-500 hover:scale-105">
                    <div
                        class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    </div>
                </div>


                <button routerLink="/chi-siamo"
                    class="mt-8 mx-auto w-full flex items-center justify-center px-6 py-3 bg-[#FF7420] text-[#191A19] rounded-xl hover:bg-orange-500 cursor-pointer transition-all duration-300 shadow-md hover:shadow-lg transform hover:-translate-y-1 group">
                    <span class="text-nowrap font-medium">Scopri di pi&ugrave;</span>
                    <ng-icon name="heroArrowRight" size="18"
                        class="ml-3 transition-transform duration-300 group-hover:translate-x-1" />
                </button>
            </div>

            <!-- Colonna testo con spaziatura migliorata -->
            <div class="w-full md:pl-6 order-1 md:order-2">

                <h2 class="text-gray-900 text-4xl lg:text-5xl font-extrabold mb-4 leading-tight"><span
                        class="text-[#FF7420]">Specialisti</span> dell'edilizia</h2>
                <div class="h-1 w-24 bg-[#FF7420] mb-6 mx-0 rounded"></div>

                <div class="space-y-6">

                    <p class="text-gray-700 text-base md:text-lg leading-relaxed">
                        Fondata nel 2008, l'azienda trae origine dalla fusione per incorporazione dell’impresa
                        individuale di Rocco Macellaro, con sede in <span class="text-[#FF7420] font-medium">Corso Garibaldi 82, a Vietri di Potenza (PZ).</span>
                        L’azienda è impegnata nella realizzazione di opere edili e stradali, rivolgendosi sia al settore
                        pubblico che a quello privato, con una particolare specializzazione nelle idrodemolizioni.
                    </p>

                    <p class="text-gray-700 text-base md:text-lg leading-relaxed">
                        Personale specializzato che opera in conformità alle normative in materia di sicurezza e salute sui luoghi di lavoro e nel rispetto dell'etica e dignità professionale.
                    </p>

                    <p class="text-gray-700 text-base md:text-lg leading-relaxed">
                        Faustini Costruzioni Srl è regolarmente iscritta presso la
                        <span class="text-[#FF7420] font-medium">Camera di Commercio, Industria, Artigianato e Agricoltura (CCIAA) di Potenza</span> e detiene
                        <span class="text-[#FF7420] font-medium">l'attestato SOA</span> per l’esecuzione di lavori pubblici, conformemente al Decreto del Presidente
                        della Repubblica n.207/2010, nelle categorie <span class="text-[#FF7420] font-medium">OG1, OG2, OG3, OG6, OG13, OS21</span>.
                    </p>
                </div>

                <!-- Firma con animazione sottile -->
                <div class="mt-8 flex flex-col items-start justify-start">
                    <div class="relative overflow-hidden h-[50px] w-auto">
                        <img [src]="signaturePath" [alt]="signatureAlt" width="150" height="50" class="w-full h-full invert" loading="lazy">
                    </div>
                    <span class="text-gray-600 font-light italic pt-2">Geom. Sergio Macellaro</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Info -->
<section class="relative bg-white py-8 px-4 md:py-12 border-y border-gray-100">

    <!-- Pattern di sfondo -->
    <div class="absolute inset-0 opacity-5">
        <div class="h-full w-full"
            style="background-image: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cg fill=\'%23000000\' fill-opacity=\'0.3\' fill-rule=\'evenodd\'%3E%3Ccircle cx=\'3\' cy=\'3\' r=\'1\'/%3E%3Ccircle cx=\'13\' cy=\'13\' r=\'1\'/%3E%3C/g%3E%3C/svg%3E')">
        </div>
    </div>

    <div class="max-w-6xl mx-auto">

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
            <div
                class="flex flex-col items-center justify-center p-4 hover:bg-gray-50 rounded-lg transition-all duration-300">

                <div class="flex items-baseline mb-2">
                    <span class="text-3xl md:text-4xl font-bold text-[#FF7420] mr-2">{{getExperience()}}+</span>
                </div>
                <p class="text-gray-700 text-lg">anni di esperienza</p>
            </div>

            <div
                class="flex flex-col items-center justify-center p-4 hover:bg-gray-50 rounded-lg transition-all duration-300">
                <div class="flex items-baseline mb-2">
                    <span class="text-3xl md:text-4xl font-bold text-[#FF7420] mr-2">{{getProject()}}+</span>
                </div>
                <p class="text-gray-700 text-lg">progetti completati</p>
            </div>

            <div
                class="flex flex-col items-center justify-center p-4 hover:bg-gray-50 rounded-lg transition-all duration-300">
                <div class="flex items-baseline mb-2">
                    <span class="text-3xl md:text-4xl font-bold text-[#FF7420] mr-2">{{getCertification()}}+</span>
                </div>
                <p class="text-gray-700 text-lg">certificazioni</p>
            </div>
        </div>
    </div>
</section>

<!-- Anteprima progetti -->
<section class="bg-[#FF7420] border-2 border-[#FF7420]">

    <!-- Intestazione sezione -->
    <div class="container mx-auto px-4 my-6">

        <h2 class="text-[#191A19] text-4xl lg:text-5xl font-extrabold mb-4 leading-tight">
            I nostri Progetti
        </h2>
        <div class="h-1 w-24 bg-black mb-6 mx-0 rounded"></div>

        <!-- Timeline -->
        <app-timeline [steps]="steps" />

        <!-- Carosello card -->
        <app-card-carousel [cards]="progetti"></app-card-carousel>
    </div>

</section>

<section class="relative bg-[#F8F9FA]">

    <!-- Testimonianze -->
    <app-testimonials [testimonials]="testimonials" [autoplay]="true" />

    <!-- Pattern di sfondo -->
    <div class="absolute inset-0 opacity-5 pointer-events-none">
        <div class="h-full w-full"
            style="background-image: url('data:image/svg+xml,%3Csvg width=\'20\' height=\'20\' viewBox=\'0 0 20 20\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cg fill=\'%23000000\' fill-opacity=\'0.3\' fill-rule=\'evenodd\'%3E%3Ccircle cx=\'3\' cy=\'3\' r=\'1\'/%3E%3Ccircle cx=\'13\' cy=\'13\' r=\'1\'/%3E%3C/g%3E%3C/svg%3E')">
        </div>
    </div>

    <!-- CTA -->
    <app-call-to-action titoloCTA="Il tuo progetto parte da qui"
        descrizioneCTA="Un team affidabile, soluzioni su misura, risultati garantiti" />

</section>