<section class="mt-21">
    <app-servizio titolo="Lavori Edili e Stradali"
        descrizione="Realizziamo opere che durano nel tempo, coniugando tradizione costruttiva e innovazione tecnologica.
        Ogni progetto nasce dall'integrazione di competenze specialistiche, materiali certificati e soluzioni ingegneristiche avanzate, per garantire edifici sicuri, efficienti e sostenibili.
        Dalla pianificazione alla consegna chiavi in mano, curiamo ogni fase con precisione, rispettando tempi, budget e normative vigenti.
        Scegliere noi significa affidarsi a un partner capace di trasformare un'idea in realtà concreta, con attenzione al dettaglio, qualità esecutiva e visione a lungo termine"
        immagine="/assets/servizi/lavori-stradali.webp"
        [caratteristichePrincipali]="caratteristiche" 
        [serviziCorrelati]="correlati"
        />
</section>