<app-progetto 
    titoloProgetto="Area rupe"
    [tipoProgetto]="tipoProgetto"
    descrizioneBreveProgetto="La riqualificazione dell'area Rupe a Vietri di Potenza valorizza il patrimonio storico e migliora la qualità urbana"
    linkAltriDettagliProgetto="https://www.radionoff.it/vietri-di-potenza-al-via-i-lavori-di-recupero-edilizio/"
    clienteProgetto="Comune di Vietri di Potenza"
    ubicazioneProgetto="Vietri di Potenza"
    tempoRealizzazioneProgetto="12 mesi"
    [annoProgetto]="anno"
    [costoTotaleProgetto]="costo"
    [descrizioneCompletaProgetto]="descrizione"
    [materialiPrincipaliProgetto]="materiali"
    [architettiProgetto]="architetti"
    impresaAppaltatriceProgetto="Faustini Costruzioni S.r.l"
    [certificazioniProgetto]="certificazioni"
    [galleriaProgetto]="galleria"
    [planimetrieProgetto]="planimetrie"
/>