<app-progetto 
    titoloProgetto="Galleria S.Nicola"
    [tipoProgetto]="tipoProgetto"
    descrizioneBreveProgetto="Manutenzione straordinaria della galleria San Nicola SS 658, ripristinando il rivestimento e le superfici interne danneggiate"
    linkAltriDettagliProgetto="https://www.radionoff.it/vietri-di-potenza-al-via-i-lavori-di-recupero-edilizio/"
    clienteProgetto="Cipa S.p.a"
    ubicazioneProgetto="S.S. 658 Potenza - Melfi"
    tempoRealizzazioneProgetto="36 mesi"
    [annoProgetto]="anno"
    [costoTotaleProgetto]="costo"
    descrizioneCompletaProgetto="Abbiamo eseguito interventi di manutenzione straordinaria per il rivestimento e il ripristino corticale della galleria San Nicola sulla SS 658 Potenza-Melfi. Il nostro team di professionisti ha operato con precisione e competenza, utilizzando materiali di alta qualità per risolvere problemi di usura, deterioramento e degrado delle superfici interne della galleria. Grazie alla nostra esperienza e professionalità, siamo riusciti a completare i lavori rispettando i tempi di realizzazione e le normative vigenti, garantendo la conservazione e la manutenzione ottimale delle infrastrutture stradali"
    [materialiPrincipaliProgetto]="materiali"
    [architettiProgetto]="architetti"
    [ingegneriProgetto]="ingegneri"
    impresaAppaltatriceProgetto="Faustini Costruzioni S.r.l"
    [certificazioniProgetto]="certificazioni"
    [galleriaProgetto]="galleria"
    [planimetrieProgetto]="planimetrie"
/>