<div class="bg-transparent w-full p-6 relative overflow-hidden">
    <div class="bg-gradient-to-r from-white to-gray-50 border border-gray-200 rounded-2xl p-8 lg:p-12 shadow-xl relative overflow-hidden">

        <div
            class="absolute top-0 right-0 w-40 h-40 bg-[#FF7420] opacity-10 rounded-full -translate-y-1/2 translate-x-1/2 blur-3xl">
        </div>
        <div
            class="absolute bottom-0 left-0 w-60 h-60 bg-[#FF7420] opacity-5 rounded-full translate-y-1/2 -translate-x-1/2 blur-3xl">
        </div>

        <div class="relative flex flex-col lg:flex-row items-center justify-between gap-8">

            <div class="lg:max-w-lg">
                <h3 class="text-3xl font-bold text-gray-900 mb-4">{{ titolo }}</h3>
                <p class="text-gray-600 text-lg mb-6">{{ descrizione }}</p>
            </div>

            <button (click)="onContatti()"
                class="flex items-center justify-center px-6 py-4 bg-[#FF7420] text-[#191A19] rounded-xl hover:bg-orange-600 cursor-pointer transition-all duration-300 shadow-lg hover:shadow-xl transform hover:-translate-y-1 group whitespace-nowrap">
                <span class="font-medium">Contattaci ora</span>
                <ng-icon name="heroArrowRight" size="18"
                    class="ml-3 transition-transform duration-300 group-hover:translate-x-1" />
            </button>

        </div>

    </div>

</div>