<app-progetto 
    titoloProgetto="Centro per la Creativit&aacute; Cecilia"
    [tipoProgetto]="tipoProgetto"
    descrizioneBreveProgetto="Efficientamento energetico del Centro per la Creativit&aacute; Cecilia di Tito, con tutela del suo valore storico"
    linkAltriDettagliProgetto="https://www.comune.tito.pz.it/sito/comunicato-stampa/3038849-finanziamento-per-efficientamento-energetico-centro-cecilia"
    clienteProgetto="Comune di Tito"
    ubicazioneProgetto="Tito"
    tempoRealizzazioneProgetto="3 mesi"
    [annoProgetto]="anno"
    [costoTotaleProgetto]="costo"
    [descrizioneCompletaProgetto]="descrizione"
    [materialiPrincipaliProgetto]="materiali"
    [architettiProgetto]="architetti"
    impresaAppaltatriceProgetto="Faustini Costruzioni S.r.l"
    [certificazioniProgetto]="certificazioni"
    [galleriaProgetto]="galleria"
    [planimetrieProgetto]="planimetrie"
/>